# 1. Motor Trend Car Road Tests

## 1) 사전 준비

In [1]:
#412-02 패키지 불러오기
import pandas as pd
import numpy as np

In [18]:
#412-03 데이터 파일 읽기
X_test = pd.read_csv("data/datasets/Part2/mpg_X_test.csv")
X_train = pd.read_csv("data/datasets/Part2/mpg_X_train.csv")
y_train = pd.read_csv("data/datasets/Part2/mpg_y_train.csv")

In [13]:
print(X_train)

                           name   mpg  cylinders  displacement  horsepower  \
0    pontiac j2000 se hatchback  31.0          4         112.0        85.0
1           pontiac safari (sw)  13.0          8         400.0       175.0
2            mazda glc custom l  37.0          4          91.0        68.0
3      oldsmobile vista cruiser  12.0          8         350.0       180.0
4                   peugeot 504  19.0          4         120.0        88.0
..                          ...   ...        ...           ...         ...
273            honda civic cvcc  36.1          4          91.0        60.0
274                   subaru dl  30.0          4          97.0        67.0
275              dodge colt m/m  33.5          4          98.0        83.0
276                  ford pinto  18.0          6         171.0        97.0
277          amc ambassador sst  17.0          8         304.0       150.0

     weight  acceleration  model_year
0      2575          16.2          82
1      5140          12.0          71
2      2025          18.2          82
3      4499          12.5          73
4      3270          21.9          76
..      ...           ...         ...
273    1800          16.4          78
274    1985          16.4          77
275    2075          15.9          77
276    2984          14.5          75
277    3672          11.5          72

[278 rows x 8 columns]

## 2) 데이터 전처리

In [4]:
#413-01 데이터 기본 정보 확인 : 칼럼명, 칼럼수, 결측치, 데이터타입
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          278 non-null    object
 1   mpg           278 non-null    float64
 2   cylinders     278 non-null    int64
 3   displacement  278 non-null    float64
 4   horsepower    274 non-null    float64
 5   weight        278 non-null    int64
 6   acceleration  278 non-null    float64
 7   model_year    278 non-null    int64
dtypes: float64(4), int64(3), object(1)
memory usage: 17.5+ KB
None

In [5]:
print(X_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          120 non-null    object
 1   mpg           120 non-null    float64
 2   cylinders     120 non-null    int64
 3   displacement  120 non-null    float64
 4   horsepower    118 non-null    float64
 5   weight        120 non-null    int64
 6   acceleration  120 non-null    float64
 7   model_year    120 non-null    int64
dtypes: float64(4), int64(3), object(1)
memory usage: 7.6+ KB
None

In [6]:
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   isUSA   278 non-null    int64
dtypes: int64(1)
memory usage: 2.3 KB
None

In [19]:
#413-02 결측치 처리 : 평균값 채우기
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')
X_train[['horsepower']] = imputer.fit_transform(X_train[['horsepower']])
X_test[['horsepower']] = imputer.fit_transform(X_test[['horsepower']])

In [9]:
#413-03 통계 확인 : 이상치 유무 확인
print(X_train.describe())

              mpg   cylinders  displacement  horsepower       weight  \
count  278.000000  278.000000    278.000000  278.000000   278.000000
mean    23.732734    5.374101    189.994604  103.383212  2948.464029
std      7.647295    1.677084    105.471423   38.695458   862.949746
min     10.000000    3.000000     68.000000   46.000000  1613.000000
25%     18.000000    4.000000     98.000000   75.000000  2206.250000
50%     23.000000    4.000000    140.500000   90.500000  2737.500000
75%     29.000000    6.000000    258.000000  118.750000  3560.000000
max     46.600000    8.000000    455.000000  230.000000  5140.000000

       acceleration  model_year
count    278.000000  278.000000
mean      15.580216   76.057554
std        2.745907    3.605591
min        8.000000   70.000000
25%       14.000000   73.000000
50%       15.500000   76.000000
75%       17.000000   79.000000
max       24.800000   82.000000

In [20]:
#413-04 칼럼, 데이터 분류 (문자 / 숫자)
COL_DEL = ['name']
COL_NUM = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_year']
COL_CAT = []
COL_Y = ['isUSA']

X_train = X_train.iloc[ : , 1 : ]   # name을 제외한 숫자로만 구성
X_test = X_test.iloc[ : , 1 : ]     # name을 제외한 숫자로만 구성
print(X_train)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    31.0          4         112.0        85.0    2575          16.2
1    13.0          8         400.0       175.0    5140          12.0
2    37.0          4          91.0        68.0    2025          18.2
3    12.0          8         350.0       180.0    4499          12.5
4    19.0          4         120.0        88.0    3270          21.9
..    ...        ...           ...         ...     ...           ...
273  36.1          4          91.0        60.0    1800          16.4
274  30.0          4          97.0        67.0    1985          16.4
275  33.5          4          98.0        83.0    2075          15.9
276  18.0          6         171.0        97.0    2984          14.5
277  17.0          8         304.0       150.0    3672          11.5

     model_year
0            82
1            71
2            82
3            73
4            76
..          ...
273          78
274          77
275          77
276          75
277          72

[278 rows x 7 columns]

## 3) 데이터 모형 구축

In [21]:
# 414-01 데이터 분할
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train, test_size = 0.3)

In [23]:
# 414-02 데이터 스케일링
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_tr[COL_NUM])  # 훈련 데이터로만 스케일링 한다.
X_tr[COL_NUM] = scaler.transform(X_tr[COL_NUM])
X_val[COL_NUM] = scaler.transform(X_val[COL_NUM])
X_test[COL_NUM] = scaler.transform(X_test[COL_NUM])

In [28]:
# 414-03 모델 학습 : 시험에는 랜덤포레스트만 쓰자
from sklearn.ensemble import RandomForestClassifier
model_rfc = RandomForestClassifier()
model_rfc.fit(X_tr, y_tr)

C:\Users\jtkim\AppData\Local\Temp\ipykernel_13232\1711841285.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model_rfc.fit(X_tr, y_tr)

RandomForestClassifier()

## 4) 데이터 모형 평가

In [29]:
# 415-01 예측값, 예측확률 계산
y_val_pred = model_rfc.predict(X_val)
y_val_pred_proba_rfc = model_rfc.predict_proba(X_val)

In [30]:
# 415-02 AUROC 점수 계산
from sklearn.metrics import roc_auc_score
score_rfc = roc_auc_score(y_val, y_val_pred_proba_rfc[:, 1])
print(score_rfc)

0.9498197115384615

In [38]:
# 415-04 최종 데이터 확인
print(y_val_pred_proba_rfc) # 0 : 타지역 / 1 : 미국 -> 두 번째 줄이 추출할 확률

[[0.97 0.03]
 [0.   1.  ]
 [0.01 0.99]
 [0.   1.  ]
 [0.05 0.95]
 [0.51 0.49]
 [0.9  0.1 ]
 [0.   1.  ]
 [0.   1.  ]
 [0.93 0.07]
 [0.08 0.92]
 [0.07 0.93]
 [0.24 0.76]
 [0.11 0.89]
 [0.53 0.47]
 [0.73 0.27]
 [0.42 0.58]
 [0.84 0.16]
 [0.05 0.95]
 [0.77 0.23]
 [0.32 0.68]
 [0.01 0.99]
 [0.   1.  ]
 [0.82 0.18]
 [0.   1.  ]
 [0.   1.  ]
 [0.73 0.27]
 [0.49 0.51]
 [0.01 0.99]
 [0.35 0.65]
 [0.99 0.01]
 [0.05 0.95]
 [0.83 0.17]
 [0.   1.  ]
 [0.12 0.88]
 [0.   1.  ]
 [0.   1.  ]
 [0.8  0.2 ]
 [0.01 0.99]
 [0.   1.  ]
 [0.51 0.49]
 [0.7  0.3 ]
 [0.3  0.7 ]
 [0.   1.  ]
 [0.27 0.73]
 [0.82 0.18]
 [0.73 0.27]
 [0.91 0.09]
 [0.   1.  ]
 [0.   1.  ]
 [0.8  0.2 ]
 [0.39 0.61]
 [0.   1.  ]
 [0.   1.  ]
 [0.15 0.85]
 [0.44 0.56]
 [0.82 0.18]
 [0.9  0.1 ]
 [0.53 0.47]
 [0.47 0.53]
 [0.77 0.23]
 [0.83 0.17]
 [0.   1.  ]
 [0.74 0.26]
 [0.79 0.21]
 [0.69 0.31]
 [0.1  0.9 ]
 [0.85 0.15]
 [0.   1.  ]
 [0.9  0.1 ]
 [0.06 0.94]
 [0.54 0.46]
 [0.09 0.91]
 [0.17 0.83]
 [0.73 0.27]
 [0.   1.  ]
 [0.9  0.1 ]
 [0.   1.  ]
 [0.75 0.25]
 [0.   1.  ]
 [0.93 0.07]
 [0.87 0.13]
 [0.93 0.07]
 [0.93 0.07]]

In [37]:
# 415-05 저장할 데이터 확인
pred = y_val_pred_proba_rfc[:, 1]
print(pred)

[0.03 1.   0.99 1.   0.95 0.49 0.1  1.   1.   0.07 0.92 0.93 0.76 0.89
 0.47 0.27 0.58 0.16 0.95 0.23 0.68 0.99 1.   0.18 1.   1.   0.27 0.51
 0.99 0.65 0.01 0.95 0.17 1.   0.88 1.   1.   0.2  0.99 1.   0.49 0.3
 0.7  1.   0.73 0.18 0.27 0.09 1.   1.   0.2  0.61 1.   1.   0.85 0.56
 0.18 0.1  0.47 0.53 0.23 0.17 1.   0.26 0.21 0.31 0.9  0.15 1.   0.1
 0.94 0.46 0.91 0.83 0.27 1.   0.1  1.   0.25 1.   0.07 0.13 0.07 0.07]

In [40]:
# 416-06 csv 파일 저장하기
pd.DataFrame({'isUSA': pred}).to_csv('example1.csv', index = False)

# 2. Penguins

## 1) 사전 준비

In [42]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [43]:
X_test = pd.read_csv("data/datasets/Part2/penguin_X_test.csv")
X_train = pd.read_csv("data/datasets/Part2/penguin_X_train.csv")
y_train = pd.read_csv("data/datasets/Part2/penguin_y_train.csv")

## 2) 데이터 전처리

In [44]:
print(X_train)

       species     island     sex  bill_length_mm  bill_depth_mm  \
0       Adelie  Torgersen     NaN            42.0           20.2
1       Gentoo     Biscoe  FEMALE            43.5           15.2
2       Adelie  Torgersen    MALE            42.8           18.5
3    Chinstrap      Dream    MALE            53.5           19.9
4       Gentoo     Biscoe    MALE            50.2           14.3
..         ...        ...     ...             ...            ...
235  Chinstrap      Dream  FEMALE            46.6           17.8
236     Gentoo     Biscoe    MALE            49.8           15.9
237     Adelie  Torgersen  FEMALE            34.6           17.2
238  Chinstrap      Dream  FEMALE            45.9           17.1
239     Gentoo     Biscoe  FEMALE            41.7           14.7

     flipper_length_mm
0                190.0
1                213.0
2                195.0
3                205.0
4                218.0
..                 ...
235              193.0
236              229.0
237              189.0
238              190.0
239              210.0

[240 rows x 6 columns]

In [45]:
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            240 non-null    object
 1   island             240 non-null    object
 2   sex                232 non-null    object
 3   bill_length_mm     238 non-null    float64
 4   bill_depth_mm      238 non-null    float64
 5   flipper_length_mm  238 non-null    float64
dtypes: float64(3), object(3)
memory usage: 11.4+ KB
None

In [46]:
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   body_mass_g  238 non-null    float64
dtypes: float64(1)
memory usage: 2.0 KB
None

In [47]:
print(X_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            101 non-null    object
 1   island             101 non-null    object
 2   sex                101 non-null    object
 3   bill_length_mm     101 non-null    float64
 4   bill_depth_mm      101 non-null    float64
 5   flipper_length_mm  101 non-null    float64
dtypes: float64(3), object(3)
memory usage: 4.9+ KB
None

In [48]:
train = pd.concat([X_train, y_train], axis=1)
print(train.loc[(train.sex.isna() | train.bill_length_mm.isna() | train.bill_depth_mm.isna() | train.flipper_length_mm.isna() | train.body_mass_g.isna())])

    species     island  sex  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen  NaN            42.0           20.2              190.0
6    Gentoo     Biscoe  NaN            44.5           14.3              216.0
43   Gentoo     Biscoe  NaN             NaN            NaN                NaN
66   Adelie  Torgersen  NaN            37.8           17.3              180.0
88   Gentoo     Biscoe  NaN            47.3           13.8              216.0
89   Adelie  Torgersen  NaN            37.8           17.1              186.0
110  Gentoo     Biscoe  NaN            44.5           15.7              217.0
229  Adelie  Torgersen  NaN             NaN            NaN                NaN

     body_mass_g
0         4250.0
6         4100.0
43           NaN
66        3700.0
88        4725.0
89        3300.0
110       4875.0
229          NaN

In [49]:
train = train.dropna()
train.reset_index(drop=True, inplace=True)

In [50]:
X_train = train[['species', 'island', 'sex', 'bill_length_mm', 'bill_depth_mm', 'flipper_length_mm']]
y_train = train[['body_mass_g']]

In [51]:
print(X_train.describe())

       bill_length_mm  bill_depth_mm  flipper_length_mm
count      232.000000     232.000000         232.000000
mean        43.990948      17.226293         200.681034
std          5.509760       1.964677          14.064231
min         32.100000      13.200000         172.000000
25%         39.200000      15.700000         190.000000
50%         44.950000      17.350000         197.000000
75%         48.775000      18.725000         212.250000
max         58.000000      21.500000         231.000000

In [52]:
COL_DEL = []
COL_NUM = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm']
COL_CAT = ['species', 'island', 'sex']
COL_Y = ['body_mass_g']

In [55]:
X = pd.concat([X_train, X_test])

from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(handle_unknown = 'ignore')
ohe.fit(X[COL_CAT])

X_train_res = ohe.transform(X_train[COL_CAT])
X_test_res = ohe.transform(X_test[COL_CAT])

In [56]:
print(X_train_res)

  (0, 2)	1.0
  (0, 3)	1.0
  (0, 6)	1.0
  (1, 0)	1.0
  (1, 5)	1.0
  (1, 7)	1.0
  (2, 1)	1.0
  (2, 4)	1.0
  (2, 7)	1.0
  (3, 2)	1.0
  (3, 3)	1.0
  (3, 7)	1.0
  (4, 0)	1.0
  (4, 4)	1.0
  (4, 6)	1.0
  (5, 2)	1.0
  (5, 3)	1.0
  (5, 7)	1.0
  (6, 2)	1.0
  (6, 3)	1.0
  (6, 6)	1.0
  (7, 0)	1.0
  (7, 5)	1.0
  (7, 6)	1.0
  (8, 2)	1.0
  :	:
  (223, 6)	1.0
  (224, 2)	1.0
  (224, 3)	1.0
  (224, 7)	1.0
  (225, 0)	1.0
  (225, 4)	1.0
  (225, 7)	1.0
  (226, 1)	1.0
  (226, 4)	1.0
  (226, 7)	1.0
  (227, 1)	1.0
  (227, 4)	1.0
  (227, 6)	1.0
  (228, 2)	1.0
  (228, 3)	1.0
  (228, 7)	1.0
  (229, 0)	1.0
  (229, 5)	1.0
  (229, 6)	1.0
  (230, 1)	1.0
  (230, 4)	1.0
  (230, 6)	1.0
  (231, 2)	1.0
  (231, 3)	1.0
  (231, 6)	1.0

In [60]:
X_train_ohe = pd.DataFrame(X_train_res.todense(), columns = ohe.get_feature_names_out())
X_test_ohe = pd.DataFrame(X_test_res.todense(), columns = ohe.get_feature_names_out())
print(X_train_ohe)

X_train_fin = pd.concat([X_train[COL_NUM], X_train_ohe], axis =1)
X_test_fin = pd.concat([X_test[COL_NUM], X_test_ohe], axis =1)

     species_Adelie  species_Chinstrap  species_Gentoo  island_Biscoe  \
0               0.0                0.0             1.0            1.0
1               1.0                0.0             0.0            0.0
2               0.0                1.0             0.0            0.0
3               0.0                0.0             1.0            1.0
4               1.0                0.0             0.0            0.0
..              ...                ...             ...            ...
227             0.0                1.0             0.0            0.0
228             0.0                0.0             1.0            1.0
229             1.0                0.0             0.0            0.0
230             0.0                1.0             0.0            0.0
231             0.0                0.0             1.0            1.0

     island_Dream  island_Torgersen  sex_FEMALE  sex_MALE
0             0.0               0.0         1.0       0.0
1             0.0               1.0         0.0       1.0
2             1.0               0.0         0.0       1.0
3             0.0               0.0         0.0       1.0
4             1.0               0.0         1.0       0.0
..            ...               ...         ...       ...
227           1.0               0.0         1.0       0.0
228           0.0               0.0         0.0       1.0
229           0.0               1.0         1.0       0.0
230           1.0               0.0         1.0       0.0
231           0.0               0.0         1.0       0.0

[232 rows x 8 columns]

## 3) 데이터 모형 구축

In [62]:
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train_fin, y_train, test_size = 0.3)

In [64]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X_tr[COL_NUM])
X_tr[COL_NUM] = scaler.transform(X_tr[COL_NUM])
X_val[COL_NUM] = scaler.transform(X_val[COL_NUM])
X_test_fin[COL_NUM] = scaler.transform(X_test_fin[COL_NUM])

In [67]:
from sklearn.ensemble import RandomForestRegressor
model_rfr = RandomForestRegressor()
model_rfr.fit(X_tr, y_tr)

y_val_pred = model_rfr.predict(X_val)
print(y_val_pred)

[5028.25 4659.   5028.25 4644.5  5116.   5116.   5014.   4659.   4659.
 5014.   4659.   4644.   4659.   4638.   4644.5  4638.   4644.5  5150.5
 5052.75 5014.   5116.   4659.   4638.   4644.5  5150.5  4659.   4644.
 5511.5  5511.5  5052.75 5511.5  5116.   4659.   4644.5  5150.5  5014.
 5116.   4659.   5116.   5028.25 5511.5  5150.5  4638.   5511.5  5150.5
 5116.   5116.   4638.   5150.5  5511.5  5014.   5150.5  5511.5  5150.5
 4644.5  5052.75 5511.5  5150.5  5028.25 5014.   5150.5  5150.5  5511.5
 4644.   5511.5  4638.   5511.5  5150.5  5511.5  5511.5 ]

## 4) 데이터 모형 평가

In [74]:
print(y_val)

     body_mass_g
108       4600.0
153       3650.0
169       4000.0
162       3550.0
103       3950.0
..           ...
16        3500.0
80        5050.0
210       4850.0
8         5100.0
228       5950.0

[70 rows x 1 columns]

In [73]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_val, y_val_pred)
#rmse = mean_squared_error(y_val, y_val_pred, squared = False)
rmse = np.sqrt(mse)
print(f'MSE {mse : .3f} RMSE {rmse : .3f}')

MSE  893254.374 RMSE  945.121

In [71]:
y_pred = model_rfr.predict(X_test_fin)
print(y_pred)

[5052.75 5511.5  5116.   4644.5  5150.5  5028.25 4644.   4638.   4659.
 4644.5  4644.5  5511.5  4638.   5014.   5052.75 5014.   5014.   4659.
 4644.5  4644.   5511.5  5052.75 5511.5  5150.5  5511.5  5511.5  5511.5
 5052.75 4659.   5028.25 5028.25 4644.5  4659.   5150.5  4644.5  4644.
 4638.   4644.   5014.   5150.5  4644.5  5511.5  5150.5  5150.5  5511.5
 5028.25 5150.5  4638.   5511.5  5116.   5150.5  5150.5  5116.   5116.
 4644.5  5052.75 5150.5  5150.5  5014.   5052.75 5028.25 5150.5  4659.
 5150.5  5014.   5052.75 5511.5  4659.   5150.5  4659.   5116.   4638.
 5150.5  4644.   5150.5  5150.5  5511.5  4644.5  4644.   5150.5  4644.5
 5511.5  4659.   5150.5  5150.5  4644.5  5511.5  5052.75 5028.25 5150.5
 5028.25 5014.   5028.25 5014.   5511.5  5052.75 5511.5  4644.   5150.5
 5511.5  4644.  ]

In [77]:
pd.DataFrame({'body_mass_g': y_pred[:,0]}).to_csv('example2.csv', index=False)

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

# 3. Census Income

In [1]:
import pandas as pd
import numpy as np

In [2]:
X_test = pd.read_csv("data/datasets/Part2/census_X_test.csv")
X_train = pd.read_csv("data/datasets/Part2/census_X_train.csv")
y_train = pd.read_csv("data/datasets/Part2/census_y_train.csv")

In [3]:
print(X_train)

       age         workclass  education_num      marital_status  \
0       39         State-gov             13       Never-married
1       50  Self-emp-not-inc             13  Married-civ-spouse
2       38           Private              9            Divorced
3       53           Private              7  Married-civ-spouse
4       28           Private             13  Married-civ-spouse
...    ...               ...            ...                 ...
30157   27           Private             12  Married-civ-spouse
30158   40           Private              9  Married-civ-spouse
30159   58           Private              9             Widowed
30160   22           Private              9       Never-married
30161   52      Self-emp-inc              9  Married-civ-spouse

              occupation   relationship   race     sex  capital_gain  \
0           Adm-clerical  Not-in-family  White    Male          2174
1        Exec-managerial        Husband  White    Male             0
2      Handlers-cleaners  Not-in-family  White    Male             0
3      Handlers-cleaners        Husband  Black    Male             0
4         Prof-specialty           Wife  Black  Female             0
...                  ...            ...    ...     ...           ...
30157       Tech-support           Wife  White  Female             0
30158  Machine-op-inspct        Husband  White    Male             0
30159       Adm-clerical      Unmarried  White  Female             0
30160       Adm-clerical      Own-child  White    Male             0
30161    Exec-managerial           Wife  White  Female         15024

       capital_loss  hours_per_week native_country
0                 0              40  United-States
1                 0              13  United-States
2                 0              40  United-States
3                 0              40  United-States
4                 0              40           Cuba
...             ...             ...            ...
30157             0              38  United-States
30158             0              40  United-States
30159             0              40  United-States
30160             0              20  United-States
30161             0              40  United-States

[30162 rows x 12 columns]

In [4]:
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30162 entries, 0 to 30161
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             30162 non-null  int64
 1   workclass       30162 non-null  object
 2   education_num   30162 non-null  int64
 3   marital_status  30162 non-null  object
 4   occupation      30162 non-null  object
 5   relationship    30162 non-null  object
 6   race            30162 non-null  object
 7   sex             30162 non-null  object
 8   capital_gain    30162 non-null  int64
 9   capital_loss    30162 non-null  int64
 10  hours_per_week  30162 non-null  int64
 11  native_country  30162 non-null  object
dtypes: int64(5), object(7)
memory usage: 2.8+ MB
None

In [5]:
print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30162 entries, 0 to 30161
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   target  30162 non-null  int64
dtypes: int64(1)
memory usage: 235.8 KB
None

In [6]:
print(X_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             15060 non-null  int64
 1   workclass       15060 non-null  object
 2   education_num   15060 non-null  int64
 3   marital_status  15060 non-null  object
 4   occupation      15060 non-null  object
 5   relationship    15060 non-null  object
 6   race            15060 non-null  object
 7   sex             15060 non-null  object
 8   capital_gain    15060 non-null  int64
 9   capital_loss    15060 non-null  int64
 10  hours_per_week  15060 non-null  int64
 11  native_country  15060 non-null  object
dtypes: int64(5), object(7)
memory usage: 1.4+ MB
None

In [7]:
print(X_train.describe())

                age  education_num  capital_gain  capital_loss  hours_per_week
count  30162.000000   30162.000000  30162.000000  30162.000000    30162.000000
mean      38.437902      10.121312   1092.007858     88.372489       40.931238
std       13.134665       2.549995   7406.346497    404.298370       11.979984
min       17.000000       1.000000      0.000000      0.000000        1.000000
25%       28.000000       9.000000      0.000000      0.000000       40.000000
50%       37.000000      10.000000      0.000000      0.000000       40.000000
75%       47.000000      13.000000      0.000000      0.000000       45.000000
max       90.000000      16.000000  99999.000000   4356.000000       99.000000

In [ ]:
COL_NUM = ['